{% extends 'items/base.html' %}
{% block content %}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col mx-auto">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ item.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ item.price }} {{ item.currency }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <h5 class="card-title pricing-card-title">Описание:</h5>
                        <li>{{ item.description }}
                        <li>
                    </ul>
                    <button id="buy-button" class="btn btn-success">Купить</button>
                    <script type="text/javascript">
                        var stripe = Stripe("{{ publishable_stripe_key }}");
                        var buyButton = document.getElementById('buy-button');
                        buyButton.addEventListener('click', function () {
                            fetch('/buy/item/{{ item.pk }}/', {
                                method: 'GET',
                            })
                                .then(function (response) {
                                    return response.json();
                                })
                                .then(function (session) {
                                    return stripe.redirectToCheckout({sessionId: session.session_id});
                                })
                                .then(function (result) {
                                    if (result.error) {
                                        alert(result.error.message);
                                    }
                                });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
